@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
    body{
        min-height: 100vh;
        background-color: white;
       color: black;
    
    }
}
@font-face {
    font-family: gilroy;
    src: url(src\assets\font\Gilroy-Bold-Rupee.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   font-family: sans-serif;
   

}




